<form action="/nueva" method="POST" class="formulario">
  <div class="mb-3">
    <label for="titulo" class="form-label">Título</label>
    <input type="text" class="form-control" id="titulo" name="titulo" aria-describedby="tituloHelp">
    <div id="tituloHelp" class="form-text">Resumen de la tarea</div>
  </div>
  <div class="mb-3">
    <label for="descripcion" class="form-label">Descripción</label>
    <input type="text" class="form-control" id="descripcion" name="descripcion">
  </div>
  <button type="submit" class="btn btn-primary">Guardar</button>
</form>